


  <div class="d-flex justify-content-center form-dog mt-2">
    <%= simple_form_for @dog do |f| %>
    <div class="d-flex justify-content-center">
      <h1>Register your Bark Buddy!</h1>
    </div>
    <div class="parent d-flex mt-2">
      <div class="left d-flex flex-column w-50 p-1">
        <%= f.input :name, placeholder: "What's your dog's name?" %>
        <%= f.input :age, placeholder: "What's your dog's age?" %>
        <%= f.input :breed, collection: Dog::BREEDS, include_blank: false%>
        <%= f.input :price, placeholder: "Rate per hour", label: 'Price (In JPY)' %>
      </div>
      <div class="right d-flex flex-column w-50 p-1">
        <%= f.input :description, placeholder: "What's your dog like?", input_html: { rows: '8' } %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
    </div>
        <div class="d-flex justify-content-center">
          <%= f.submit class: "reserve-btn w-50", value: 'Create Dog' %>
        </div>
    <% end %>
  </div>
