<div class="container">
  <!-- Dog information -->
  <div class="d-flex justify-content-between my-2">
    <h1><%= @dog.name %></h1>
    <button type="button" class="btn btn-light"><i class="fa-regular fa-heart"></i> Save</button>
  </div>

  <!-- Dog images -->
  <div class="row dog-grid">
    <div class="col-6 p-1">
      <%= image_tag @dog.photos.all[0], alt: "text", class: "w-100 p-1" %>
    </div>
    <div class="col-6 p-1">
      <div class="row h-100">
        <div class="col-6 d-flex flex-column justify-content-between p-1">
          <%= image_tag @dog.photos.all[1], alt: "text", class: "w-100 h-50 pb-1" %>
          <%= image_tag @dog.photos.all[2], alt: "text", class: "w-100 h-50" %>
        </div>
        <div class="col-6 d-flex flex-column justify-content-between p-0 pb-1 pt-1">
          <%= image_tag @dog.photos.all[3], alt: "text", class: "w-100 h-50 pb-1" %>
          <%= image_tag @dog.photos.all[4], alt: "text", class: "w-100 h-50" %>
        </div>
      </dp-0 itv>
    </div>
  </div>

  <!-- Dog details -->
  <div class="mt-4">
    <div class="row">
      <div class="col-8 my-2">
        <!-- Breed and age -->
        <p class='mb-0'> <i class="fa-solid fa-dog"></i> <%= @dog.breed.capitalize %></p>
        <p class='mb-0'> <i class="fa-solid fa-calendar-days"></i> <%= @dog.age %> years old </p>

        <!-- Owner information -->
        <div class="row border-top mt-2">
          <div class="d-flex align-items-center mt-2">
            <%= image_tag 'stan.jpg', alt: "text", class: 'rounded-circle avatar me-2', width: '40px', height: '40px' %>
            <%= @dog.user.name %>
          </div>
        </div>

        <!-- Description -->
        <div class="row border-top mt-2">
          <div class="col-12 my-2">
            <%= @dog.description %>
          </div>
        </div>
      </div>

      <!-- Booking and price -->
      <div class="col-4 text-center justify-content-center" data-controller="booking-price" data-booking-price-price-value="<%= @dog.price %>"  id="booking-box">
        <div class="row h-25 align-items-center">
          <p class='mb-0 black-bold'>¥<%= @dog.price %>0 per hour</p>
        </div>

        <!-- Date picker -->
        <div class="row justify-content-center mx-2">
          <div class="bg-light border rounded-4">
            <%= simple_form_for([@dog, @booking]) do |f| %>
            <div class="d-flex">
              <%= f.input :start_time, placeholder: Date.today.to_s, as: :string, input_html: { value: Date.today, data: { controller: "datepicker", booking_price_target: 'start_date', action: 'change->booking-price#update' }, style: "background-color: transparent; border: none;", min: Date.today }, wrapper_html: { class: 'mb-0 pb-3 border-end', style: 'margin-bottom: 0 !important'} %>
              <%= f.input :end_time, placeholder: (Date.today + 1).to_s, as: :string,  input_html: { value: Date.today, data: { controller: "datepicker", booking_price_target: 'end_date', action: 'change->booking-price#update' }, style: "background-color: transparent; border: none;", min: Date.today } %>
            </div>
            <% end %>

          </div>
        </div>
        <p class='mt-1 d-flex align-items-center justify-content-between mb-0'>
          <span data-booking-price-target='info'></span>
          <span class='fw-bold' data-booking-price-target='price'></span>
        </p>
        <!-- Request button -->
        <%# <button type="button" class="btn btn-dark w-100 rounded-4 mt-1">Reserve</button> %>
        <%= button_tag(type: 'submit', class: "btn btn-dark w-100 rounded-4 mt-1") do %> Reserve <% end %>

      </div>
    </div>
        <!-- Review -->
        <div class="mt-2 border"></div>
        <h1>reviews</h1>
  </div>
</div>
