<div class="card-booking">
  <%= image_tag booking.dog.photos.all[0], alt: "Dog"%>
  <div class="card-booking-infos">
    <h2>Booking with <%= link_to "#{booking.dog.name}", dog_path(booking.dog), class:"text-dark" %></h2>
    <p><i class="fa-regular fa-calendar"></i> <strong><%= booking.start_time %></strong> (<%= booking.start_time.strftime('%l:%M %p') %>) to <strong><%= booking.end_time %></strong> (<%= booking.end_time.strftime('%l:%M %p') %>)</p>
    <p>Total Price: ¥<strong><%=booking.total_price %></strong></p>
    <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: 'This will delete this booking, are you sure?' }, class: 'card-remove-link' do %>
      <i class="fa-solid fa-poop"></i>
    <% end %>

   <% case booking.status %>
    <% when "pending" %>
      <span class="badge rounded-pill card-pending-pill">Pending</span>
    <% when "accepted"  %>
      <span class="badge text-bg-success rounded-pill card-pending-pill">Accepted</span>
    <% when "rejected"  %>
      <span class="badge text-bg-danger rounded-pill card-pending-pill">Rejected</span>
    <% when "completed" %>
      <span class="badge text-bg-light rounded-pill card-pending-pill">Completed</span>
    <% end %>

  </div>
</div>
