<% if dog %>
  <div id="carouselExampleIndicators-<%= dog.id %>" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators-<%= dog.id %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-<%= dog.id %>" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-<%= dog.id %>" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <%= cl_image_tag dog.photos[0].key, alt: "..." , class: "card-img img-fluid"%>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag dog.photos[1].key, alt: "...", class: "card-img img-fluid" %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag dog.photos[2].key, alt: "...", class: "card-img img-fluid" %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-<%= dog.id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-<%= dog.id %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% end %>
