<!DOCTYPE html>
<html>
  <head>
    <title>ShareYourDog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-secondary mb-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">ShareYourDog</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active mt-2" aria-current="page" href="/dogs">All Dogs</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-paw fs-3 p-1"></i>
              </a>
              <ul class="dropdown-menu">
                <% Dog.all.each do |dog| %>
                  <li><%= link_to "#{dog.name}", dog_path(dog), class:"dropdown-item" %></li>
                <% end %>
              </ul>
          </ul>
          <% if !user_signed_in? %>
          <%= link_to "Log in", user_session_path, class: "btn btn-light rounded-4"%>
          <% else %>
          <%= link_to "My Account", bookings_path, class: "btn btn-light rounded-4"%>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-dark rounded-4"%>
          <% end %>
        </div>
      </div>
    </nav>

  <%= render 'pages/flashes' %>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
